<form action="/create" method="post">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" id="filename" name="filename">
    <input type="submit" name="submit" value="Create">
  </div>
  
</form>